# Maven
/target/
/.m2/
*.log

# Eclipse
.project
.classpath
.settings/
.springBeans

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
$RECYCLE.BIN/

# Linux
*~

# Logs
*.log
*.out
*.pid

# Allure Results
/allure-results/
/public/allure-report/

# Node
node_modules/
npm-debug.log

# Environment Variables
.env

# JetBrains
.idea/

# Build Results
/target/